@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.weather {
    
    background-image: linear-gradient(55deg, rgba(37, 113, 190, 0.4), rgb(40, 81, 123), rgba(191, 187, 168, 0.067));
    height: 500px;
    width: 300px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 10px;
}

.search-bar input {
    border: none;
    height: 40px;
    width: 32vh;
    border-radius: 20px;
    padding-left: 15px;
    outline: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300px;
    background: rgba(209, 232, 237, 0.499);
    font-size: 18px;
    color: white;
}

.search-bar i {
    border-radius: 15px;
    padding: 7.5px;
    background: rgba(209, 232, 237, 0.499);
    margin-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.34);
    font-weight: bold;
}

.weather-icon {
    height: 30vh;
    width: 30vh;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.temperature {
    font-family: "Poppins", sans-serif;
    color: white;
    padding-left: 80px;
    font-size: 40px;
    margin-top: -40px;
}

.Location {
    font-family: "Poppins", sans-serif;
    color: white;
    padding-right: 25px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.wind-speed {
    height: 8vh;
    width: 8vh;
}

.humidity {
    height: 8vh;
    width: 8vh;
}

.weather-data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    color: white;
}

.wind-value p {
    margin-left: -9px;
    font-family: "Poppins", sans-serif;

}

.wind-value span {
    margin-left: -20px;
    font-family: "Poppins", sans-serif;
}

.humidity-value p {
    margin-left: 7px;
    font-family: "Poppins", sans-serif;
}

.humidity-value span {
    margin-left: -10px;
    font-family: "Poppins", sans-serif;
}

.date{
    font-family: "Poppins", sans-serif;
    color: white;
    padding-left: 65px;

}

@media(min-height:844px){
    .search-bar input{
    background-color: red;
    width:27vh;
    }

    .weather-icon{
        margin-top: -7vh;
        margin-left: 2vh;
    }
    .Location{
        margin-top: -2px;
        margin-left: 12px;
    }
}

@media(min-height:932px){
    .search-bar input{
    background-color: red;
    width:24vh;
    }

    .weather-icon{
        margin-top: -7vh;
        margin-bottom: -4px;
        margin-left: 2px;
    
    }
    .Location{
        margin-top: -2px;
        margin-left: 12px;
    }
    .temperature{
        margin-top: -57px;
    }
}
@media(min-height:740px)or(min-height:1138px){
    .search-bar input{
    background-color: red;
    width:30vh;
    }

    .weather-icon{
        margin-top: -7vh;
        margin-bottom: -4px;
        margin-left: 2px;
    
    }
    .Location{
        margin-top: -2px;
        margin-left: 12px;
    }
    .temperature{
        margin-top: -57px;
    }
}
@media(min-height:1138px){
    .search-bar input{
    background-color: red;
    width:26vh;
    }

    .weather-icon{
        margin-top: -7vh;
        margin-bottom: -4px;
        margin-left: 11px;
    
    }
    .Location{
        margin-top: -2px;
        margin-left: 12px;
    }
    .temperature{
        margin-top: -74px;
        margin-left: 33px;
    }
    
    .weather{
        height: 53vh;
        width: 34vh;
    }
    .date{
        margin-left: 38px;

    }
}
@media(min-height:1080px){
    .search-bar input{
    background-color: red;
    width:26vh;
    }

    .weather-icon{
        margin-top: -7vh;
        margin-bottom: -4px;
        margin-left: 14px;
    
    }
    .Location{
        margin-top: -2px;
        margin-left: 12px;
    }
    .temperature{
        margin-top: -74px;
        margin-left: 33px;
    }
    
    .weather{
        height: 53vh;
        width: 34vh;
    }
    .date{
        margin-left: 38px;

    }
}